<%= link_to current_user.faved?(@pet) ? 'Unfave' : 'Fave', pet_fave_path(@pet), remote: true, method: :post, class: 'fave' %>

<div id="map"></div>

<script>
  var mapData = {
    shelterAddress: '<%= @pet.shelter.location %>',
    googleApiKey: '<%= ENV['GOOGLE_API_KEY'] %>'
  };
</script>
<%- content_for :foot do %>
  <%= javascript_include_tag 'pet' %>
<%- end %>
