<div class="row">
  <div class="small-12 columns">
    <h3>Fellow animal lover</h3>
      <p>There are just under 300,000 pets currently living in shelters across the country that are in need of a home. This site allows users to seamlessly search for pets available for adoption in the shelters in the state of Massachusetts. There are approximately 100 adoption groups in Massachusetts alone. Even if each shelter houses only a couple of animals, that's still too many homeless pets!</p>
      <p> If stats are not your thing, and you're still not convinced, please sign up and take a look at the cuties available for adoption in your area.</p>
      <div><em><small>Resource: perfinder.com</small></em></div>
    </div>
  </div>
</div>
