<div class="row">
  <div class="medium-6 columns">
    <% if current_user.photo.present? %>
    <%= image_tag current_user.photo.url(:small), class: 'avatar' %>
    <% end %>
    <h4>Hi, <%= current_user.name %>!</h4>
    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>
  <div class="medium-6 columns">
    <h1>favorite pets</h1>
    <% if @faves.present? %>
      <ul class="fave-pets">
        <% @faves.each do |fave| %>
          <li class="fave-pet"><%= link_to fave.pet.name, fave.pet %></li>
        <% end %>
      </ul>
    <% else %>
      <em>You have no favorite pets yet<em>
    <% end %>
  </div>
</div>
