// @import "*";

html {
  font-family: sans-serif;
  background-image: image-url("bwcat.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
